<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Fragments</title>
</head>
<body>
        <p th:fragment="bothDescription">Our manicure is a great way to spend 30 minutes of your day! We use shea butter hand cream and the finest gel polish and Relax for 45 minutes in pure luxury! Our massage chairs and experienced nail techs are here to get your feet in shape for sandal season! </p>
        <p th:fragment = "manicureDescription">Our manicure is a great way to spend 30 minutes of your day! We use shea butter hand cream and the finest gel polish.</p>
        <p th:fragment = "pedicureDescription">Relax for 45 minutes in pure luxury! Our massage chairs and experienced nail techs are here to get your feet in shape for sandal season!</p>
<footer th:fragment="footer">
    <div class="row">
    <div class="column red box">Y</div>
        <div class="column blue box">O</div>
        <div class="column grey box">U</div>
        <div class="column white box">R</div>
        <div class="column purple box">S</div>
        <div class="column green box">H</div>
        <div class="column yellow box">O</div>
        <div class="column gold box">P</div>

    </div>
</footer>
</body>
</html>